[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
constructs = "==3.3.185"
cdk8s = "~=1.3.31"
cdk8s_plus_22 = "==1.0.0b82"

[requires]
python_version = "3.9"

[scripts]
generate = "python main.py"